# Misc
*.pyc
deploy.md
log.txt
hidden/*
*.DS_Store

# Secrets
secret.json
secret.json.real
secret.json.template
taskrunner_credentials.json

# All Data
data/*
# Except
!data/gares_transilien.csv
!data/responding_stations.csv
!data/most_used_stations.csv
!data/scheduled_station_20170215.csv
!data/all_stations.csv

# Zip files
*.zip

# Ipython notebooks
*.ipynb

# Databases
*.db


# Python package
*.egg-info/
dist/*

# TODO
TODO.md

# Docs
docs/*
!docs/conf.py
!docs/index.rst
!docs/make.bat
!docs/Makefile

# Logs
*.log

# Pids
*.pid
