# Misc
*.pyc
deploy.md
log.txt
hidden/*

# Secrets
secret.json
taskrunner_credentials.json

# All Data
data/*
# Except
!data/gares_transilien.csv

# Zip files
*.zip

# Ipython notebooks
*.ipynb

# Databases
*.db


# Python package
*.egg-info/
dist/*

# TODO
TODO.md
