# For datetimes with time zones
pytz
# For safe XML extraction from Transilien API
xmltodict
defusedxml
# Pandas version 0.20 causing some issues
pandas==0.19.0
numpy
sklearn
# MongoDB: not used anymore: should be cleaned
motor
pymongo
mongoengine
# Asynchronous requests
requests
asyncio
aiohttp
# Relational DB
psycopg2
sqlalchemy
# AWS
boto3==1.4.4
# Documentation
Sphinx
sphinx_rtd_theme
# Dynamo DB: custom commit because of bug: current PR
pynamodb
-e git://github.com/leonardbinet/PynamoDB.git@master#egg=pynamodb
# For task scheduling
celery
flower

