ipdb
pytz
xmltodict
defusedxml
pandas==0.19.0
numpy
motor
pymongo
mongoengine
requests
asyncio
aiohttp
psycopg2
sqlalchemy
aiopg
boto3==1.4.4
django
djangorestframework
markdown
django-filter
Sphinx
sphinx_rtd_theme
-e git://github.com/leonardbinet/PynamoDB.git@master#egg=pynamodb
celery
flower
sklearn
